<div class="main">
        
        <p>This part shows my level of skills in programming.</p>
        <p><img src="../../assets/html.png"> HTML</p>
        <div class="container">
        <div class="skills html">70%</div>
        </div>

        <p><img src="../../assets/css.png"> CSS</p>
        <div class="container">
        <div class="skills css">75%</div>
        </div>

        <p><img src="../../assets/java.png"> Java</p>
        <div class="container">
        <div class="skills java">60%</div>
        </div>

        <p> <img src="../../assets/python.png">Python</p>
        <div class="container">
        <div class="skills python">85%</div>
        </div>
</div>