<div class="main">
  <div class="sub">
    <div class="lists">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/haikyu10.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Track Pants</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/haikyu2.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Purse</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/haikyu3.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Pullover</a>
          </div>
        </div>
    </div>
    <div class="lists">
      <div class="card" style="width: 18rem;">
          <img src="../../assets/haikyu8.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Cap</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/haikyu9.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Shorts</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../../assets/Haikyu7.jpg" class="card-img-top" alt="OXGN">
          <div class="card-body">
            <a class="nav-link" routerLink="../product-details">Haikyu Bag</a>
          </div>
        </div>
    </div>
  </div>
</div>