<div class="main">
    <div class="sub">
        <h2>Get in Touch</h2>
        <p><img src="../../assets/fb.png"> Facebook: <a href="https://www.facebook.com/JohnNep07/">John Nep</a></p>
        <p><img src="../../assets/call.png">  Contact No. 09057534352 / 09922380029</p>
        <p><img src="../../assets/mail.png">  Gmail: johnnepstark@gmail.com</p>
        <p> <img src="../../assets/hau.png"> University-Email: jnarcilla@student.hau.edu.ph</p>
        <p><img src="../../assets/map.png"> Address: <a href="https://www.google.com/maps/@15.240593,120.582214,16z">Blk41 Lot33, Northville16, Atlu-Bola, Mabalacat City, Pampanga.</a></p>
    </div>
</div>