<div class="main">
    <div class="sub">
        <h1>ABOUT OXGN</h1>
        <p>Making streetwear accessible to everyone.</p>
        <p>Inspired by street fashion and youth culture, OXGN is all about being effortlessly cool. The brand schools us on what's new and makes a conscious effort to create clothes that embrace authentic individual expression, making it an easy favorite among streetwear enthusiasts. By listening to the pulse on the street, OXGN makes streetwear accessible for everyone without breaking the bank.</p>
        <br>
        <h1>ABOUT GOLDEN ABC INC.</h1>
        <p>GOLDEN ABC, Inc. (GABC) is a multi-awarded international fashion enterprise that is home to top proprietary brands shaping the retail industry today. Produced, marketed, and retailed under a fast-growing, dynamic family of well-differentiated, proprietary brands: PENSHOPPE, OXYGEN, FORME, MEMO, REGATTA, and BOCU. Originating in the Philippines in 1986, GABC now has more than 1000 strategically located sites and presence in different countries around Asia.</p>
        <h1>FASHION WITH A CONSCIENCE</h1>
        <p>Side by side its business goals, GOLDEN ABC, along with its employees, actively fulfills responsive stewardship. Through its Corporate Social Responsibility platform called GET UP, the company advocates for arts & culture, education, environment, and community building.</p>
        <p>Get Up has been recognized by the Philippine Quill Awards for CSR Excellence and the Asia-Pacific Tambuli Awards for Best Integrated Digital Program for its public launch. It is also included in the company's People Program of the Year Award given by the People Management Association of the Philippines (PMAP).</p>
    </div>
</div>