
.top {
    width: auto;
    height: auto;

    background-image: linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.95)),url("../assets/covering.png");
    background-position: center;
    background-size: cover;
    position: relative; top: 40px;
}
