<div class="main">
    <h2>Welcome!</h2>
    <p>I'm John Nep, Information technology student major in Web Development...</p>
    <p>My main obejctive is to help companies develop applications to automate their business processes.</p>
    <p>I believe...</p>
    <ul>
        <li>That satisfied users are proof of successful application design</li>
        <li>hat source code is about experience, competence and discipline</li>
    </ul>
</div>
<div class="sec">
    <h2>Mobile</h2>
    <p>Natives Android or Responsive webapps</p>
    <img src="../../assets/android.png">
    <img src="../../assets/flutter.png">
</div>
<div class="soc">
    <h2>User Interface</h2>
    <p>Angularjs & Reactjs</p>
    <img src="../../assets/angular.jpg">
    <img src="../../assets/react.png">

</div>