<div class="main">
    <div class="sub">
        <h2>John Nep Arcilla</h2>
        <ul>
            <li>
                <p>Age : 21</p>
            </li>
            <li>
                <p>Religion : Catholic</p>
            </li>
            <li>
                <p>Date of Birth: November 7, 2000</p>
            </li>
            <li>
                <p>Primary School: Northville16 Elementary School</p>
                <a>2007-2013</a>
            </li>
            <li>
                <p>Secondary School: Atlu-Bola High School</p>
                <a>2013-2017</a>
            </li>
            <li>
                <p>Tertiary School: <a href="https://www.facebook.com/JCFCSHS"> Jose C. Feliciano College Foundation</a></p>
                <a>
                    2017-2019
                </a>
            </li>
            <li>
                <p>College: <a href="https://www.hau.edu.ph/">Holy Angel University</a> </p>
                <a>
                    2019-2023
                </a>
            </li>
            <li>
                <p>Course/Major: BSIT-WebDev</p>
            </li>
        </ul>
        <img src="../../assets/profile.jpg">  
            
            
            
            
           
            
            
    
</div>